@using Parallax.Models;

@model IndexViewModel
<section class="content">
    <div class="content-title">HAKKIMIZDA</div>


    <p class="content-text">
        @Model.PageModel.AboutText
    </p>   
    
    
    
    
</section>

