@model Parallax.Models.ReservationViewModel

@{
    ViewBag.Title = "Reservation";
    ViewBag.Title = "Time Slots";
}

<div class="content-title">Randevu</div>
<div class="r-box">
    <div class="calendar">
        <div id="datepicker"></div>
        <div class="choice-box">
            <div class="vertical-box">
                <label id="date-text">Tarih:</label>
                <input required id="datepicker-input" placeholder="Gün Seçimi">
            </div>
            <div class="vertical-box">
                <label id="date-text">Hizmet:</label>
                <select required id="serviceSelect">
                    <option value="" disabled selected>Hizmet Seçimi</option>
                    @foreach (var service in Model.TBLSERVICEs)
                    {
                        <option value="@service.ServiceID" data-timespent="@service.TimeSpent">@service.ServiceName</option>
                    }
                </select>

            </div>

        </div>
    </div>
    <div class="reservation-list">
        <div id="employeeList">Rezervasyon yapabilmek için önce takvim üzerinden tarih sonrasında istediğiniz hizmeti seçiniz</div>
    </div>
</div>



<script>
    $(document).ready(function () {

        $('#serviceSelect').change(function () {
            var selectedDateTime = $("#datepicker-input").val();
            var selectedOption = $("#serviceSelect option:selected");
            var selectedTimeSpent = selectedOption.length > 0 ? selectedOption.data("timespent") : null;

            if (selectedTimeSpent === null) {
                alert("Hizmete ait geçerli bir süre bilgisi bulunamadı.");
                return;
            }

            // Tarih formatını kontrol etmek için bir regex kullanabilirsiniz.
            var dateFormatRegex = /^\d{4}-\d{2}-\d{2}$/;

            if (!dateFormatRegex.test(selectedDateTime)) {
                alert("Geçersiz tarih formatı. Lütfen yyyy-MM-dd formatında giriniz.");
                return;
            }
            else {
                $.ajax({
                type: "POST",
                url: '@Url.Action("Reservation", "Reservation")',
                data: {
                        selectedDateTime: selectedDateTime,
                        selectedServiceId: $("#serviceSelect").val(),
                        selectedTimeSpent: selectedTimeSpent
                      },
                    success: function (result)
                    {
                            if (result.success)
                            {
                                // Başarılı durumda çalışanları listeleyin
                                var employeeList = $("#employeeList");
                                employeeList.empty();
                                $.each(result.employees, function (index, employee) {
                                    var employeeDiv = $('<div class="calendar-cards"><div class="worker-img" style="background-image: url(' + employee.EmpImageURL + ')"></div><div class="reservation-info"><h2>' + employee.EmpName + " " + employee.EmpSurname + '</h2><div class="timeline"></div></div></div >');

                                    // finalTimeSlots'ı doğru bir şekilde almak için backend'den gelen veriye göre ayarlamalısınız
                                    $.each(result.finalTimeSlots, function (index, timeSlot) {
                                    employeeDiv.find('.timeline').append('<p>' + timeSlot + '</p>');
                                    });

                                    employeeList.append(employeeDiv);
                                });
                            }
                            else
                            {
                            // Hata durumunda kullanıcıya bilgi verin
                            alert(result.message);
                            }
                    },

                    error: function () {
                    // Hata durumunda genel bir mesaj gösterin
                    alert("Bir hata oluştu.");
                    },
                    complete: function () {
                    console.log(selectedTimeSpent);
                    }
                });

            }
        });

    });
</script>

