@model Parallax.Models.TimeViewModel
<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h3>İletişim</h3>
            <ul>
                <li>
                    <a href=""><i class="fas fa-phone-alt"></i>+90 312 431 83 99</a>
                </li>
                <li>
                    <a href=""><i class="fas fa-envelope"></i>destek@mail.com</a>
                </li>

                <li>
                    <i class="fas fa-map-marker-alt"></i>Bayındır-1 No:6/5, Kızılay<br />
                    Çankaya/ANKARA
                </li>

            </ul>
        </div>
        <div class="footer-column">
            <h3>Politika ve Şartlar</h3>
            <ul>
                <li><a href="">Gizlilik Politikası</a></li>
                <li><a href="">Çerez Politikası</a></li>
                <li><a href="">Şartlar ve Koşullar</a></li>

            </ul>
        </div>

        <div class="footer-column">
            <h3>Sosyal Medya</h3>
            <ul class="social-icons">
                <li>
                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank"><i class="fab fa-google"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>

            </ul>
        </div>

        <div class="footer-column">
            <h3>Mesai Saatlerimiz</h3>
            <ul>
                <li>
                    <p>
                        Hafta içi ve Cumartesi<br>
                        @Model.FormattedWorkStartTime -
                        @Model.FormattedBreakStartTime <br>
                        @Model.FormattedBreakEndTime -
                        @Model.FormattedWorkEndTime
                    </p>
                </li>
                <li><p>Pazar<br> KAPALI </p></li>

            </ul>
        </div>
    </div>
    <div class="copyright">
        &copy; 2023, PARALLAX -
        <a class="" href="https://www.linkedin.com/in/ediphakanbaser/">
            Edip Hakan Başer
        </a>
    </div>
</footer>
