<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Parallax</title>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet" />
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

<link href="~/Content/css/about.css" rel="stylesheet" />
<link href="~/Content/css/backtotop.css" rel="stylesheet" />
<link href="~/Content/css/body.css" rel="stylesheet" />
<link href="~/Content/css/calendar.css" rel="stylesheet" />
<link href="~/Content/css/discount.css" rel="stylesheet" />
<link href="~/Content/css/footer.css" rel="stylesheet" />
<link href="~/Content/css/modal.css" rel="stylesheet" />
<link href="~/Content/css/navbar.css" rel="stylesheet" />
<link href="~/Content/css/overlay.css" rel="stylesheet" />
<link href="~/Content/css/packages.css" rel="stylesheet" />
<link href="~/Content/css/preloader.css" rel="stylesheet" />
<link href="~/Content/css/scrollbar.css" rel="stylesheet" />
<link href="~/Content/css/slider.css" rel="stylesheet" />
<link href="~/Content/css/worker.css" rel="stylesheet" />
<link href="~/Content/css/wpme.css" rel="stylesheet" />
<link href="~/Content/css/partial_testi.css" rel="stylesheet" />
<link href="~/Content/css/page_testi.css" rel="stylesheet" />