

<div class="mainbg" style="background-image:url(/Content/images/bg_1.png)">
    <div class="logo-con">
        <a href="@Url.Action("Index", "Home")">
            <img src="~/Content/images/parallax.svg" class="logo-svg" />
        </a>

        <h1>PARALLAX</h1>
        <h2>Beauty Saloon</h2>
    </div>
</div>
