@using Parallax.Models;

@model IndexViewModel

<div class="content-title">EKİBİMİZ</div>
<div class="container-worker" style="background-color:#0f0f0f">
    @foreach(var item in Model.EmployeeModels)
    { if( DateTime.UtcNow.AddHours(3) < item.EmpDismissalDate || item.EmpDismissalDate==null || item.EmpDismissalDate == DateTime.MinValue) {
        <div class="worker" style="background-image: url(@item.EmpImageURL)">
            <div class="worker-info">
                <h1>@item.EmpName @item.EmpSurname</h1>
            </div>
        </div>
        }
    }

</div>

