.admin-footer {
    text-align: center;
    height: 3vh;
    position: fixed;
    bottom: 0;
    left: 200px;
    width: 100%;
    box-shadow: 0 -0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.2);
    background-color: white;
}

.myName {
    text-decoration: none;
    color: red;
}
