
@{
    ViewBag.Title = "Earnings";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="accordionSide">

    <button class="accordion" id="previousYearAccordion"></button>
    <div class="panelaccordion" id="previousYearPanel">
        <p>İşlemleriniz burada gösterilecek.</p>
    </div>

    <button class="accordion" id="currentYearAccordion"></button>
    <div class="panelaccordion" id="currentYearPanel">
        <p>İşlemleriniz burada gösterilecek.</p>
    </div>

    <button class="accordion" id="nextYearAccordion"></button>
    <div class="panelaccordion" id="nextYearPanel">
        <p>İşlemleriniz burada gösterilecek.</p>
    </div>
</div>
<div class="graphSide">
    <div class="graphInfos">
        <h2>Seçilen Yıl-Ay:</h2><div class="yearMonth"></div> <h2>Toplam kazanç:</h2><div class="totalFee"></div>
    </div>
    <canvas id="myChart" width="400" height="200"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var currentDate = new Date();
        var currentYear = currentDate.getFullYear();
        var previousYear = currentYear - 1;
        var nextYear = currentYear + 1;

        document.getElementById("currentYearAccordion").innerHTML = currentYear;
        $("#currentYearAccordion").val(currentYear);
        document.getElementById("previousYearAccordion").innerHTML = previousYear;
        $("#previousYearAccordion").val(previousYear);
        document.getElementById("nextYearAccordion").innerHTML = nextYear;
        $("#nextYearAccordion").val(nextYear);

        document.getElementById("currentYearAccordion").addEventListener("click", function () {
            togglePanel("currentYearPanel", currentYear);
        });

        document.getElementById("previousYearAccordion").addEventListener("click", function () {
            togglePanel("previousYearPanel", previousYear);
        });

        document.getElementById("nextYearAccordion").addEventListener("click", function () {
            togglePanel("nextYearPanel", nextYear);
        });

        function togglePanel(panelId, year) {
            var panel = document.getElementById(panelId);
            var panelContent = "";

            var months = ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"];

            months.forEach(function (month, index) {
                panelContent += "<button class='month' value='" + (index + 1) + "' data-year='" + year + "'>" + month + "</button>";
            });

            panel.innerHTML = panelContent;
            panel.style.display = (panel.style.display === "block") ? "none" : "block";

            var monthButtons = panel.getElementsByClassName("month");
            for (var i = 0; i < monthButtons.length; i++) {
                monthButtons[i].addEventListener("click", function () {
                    var selectedMonth = $(this).val();
                    var selectedYear = $(this).data("year");
                    $(".yearMonth").text(selectedMonth + "-" + selectedYear);
                    getData(selectedYear, selectedMonth);
                });
            }
        }
    });
    function getData(selectedYear, selectedMonth) {
        $.ajax({
            url: '/Dashboard/GetGraphInfo', // ControllerName, MVC controller'ınızın adıyla değiştirilmelidir
            type: 'POST',
            dataType: 'json',
            data: { selectedYear: selectedYear, selectedMonth: selectedMonth },
            success: function (data) {
                // AJAX isteği başarılı olduğunda buraya gelecek olan işlemler
                console.log(data); // Gelen verileri konsola yazdırabilirsiniz
                var labels = [];
                var totalFees = [];
                var dailyTotalSum = 0;

                // Veriyi işleyerek gerekli formatlara dönüştürme
                for (var i = 0; i < data.length; i++) {
                    labels.push('Day ' + data[i].Day);
                    dailyTotalSum += data[i].TotalFee;
                    totalFees.push(data[i].TotalFee);
                }
                $(".totalFee").text(dailyTotalSum);
                // Canvas elementini seçme
                var ctx = document.getElementById('myChart').getContext('2d');

                var existingChart = Chart.getChart(ctx);
                if (existingChart) {
                    existingChart.destroy();
                }

                // Chart.js kullanarak çizgi grafiği oluşturma
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Total Fee',
                            data: totalFees,
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }]
                    }
                });
            },
            error: function (error) {
                // AJAX isteği başarısız olduğunda buraya gelecek olan işlemler
                console.log('Hata oluştu: ' + error);
            }
        });
    }
</script>