
@{
    ViewBag.Title = "Earnings";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="accordionSide">

    <button class="accordion" id="previousYearAccordion"></button>
    <div class="panelaccordion" id="previousYearPanel">
        <p>İşlemleriniz burada gösterilecek.</p>
    </div>

    <button class="accordion" id="currentYearAccordion"></button>
    <div class="panelaccordion" id="currentYearPanel">
        <p>İşlemleriniz burada gösterilecek.</p>
    </div>

    <button class="accordion" id="nextYearAccordion"></button>
    <div class="panelaccordion" id="nextYearPanel">
        <p>İşlemleriniz burada gösterilecek.</p>
    </div>
</div>
<div class="graphSide">
    <div class="graphInfos">
        <h2>Seçilen Yıl-Ay:</h2><div class="yearMonth"></div> <h2>Toplam kazanç:</h2><div class="totalFee"></div>
    </div>
    <canvas id="myChart" width="400" height="200"></canvas>
</div>