<aside>
    <div class="aside-con">
        <h3>Side Panel</h3>
        <div class="link-box">
            <a class="aside-link" href="">Özet</a>
            <a class="aside-link" href="">Genel Bilgiler</a>
            <a class="aside-link" href="">Çalışan</a>
            <a class="aside-link" href="">Servis</a>
            <a class="aside-link" href="">Servis Ataması</a>
            <a class="aside-link" href="">Müşteri Yorumları</a>
            <a class="aside-link" href="">Kazançlar</a>
        </div>
    </div>
</aside>
