<div class="admin-footer">
    <div class="copyright">
        &copy; 2023, PARALLAX -
        <a class="myName"
           href="https://www.linkedin.com/in/edip-hakan-b-4a2413190/">
            Edip Hakan Başer
        </a>
    </div>
</div>
