<div class="admin-footer">
    <div class="copyright">
        &copy; 2023, PARALLAX -
        <a class="myName"
           href="https://www.linkedin.com/in/ediphakanbaser/">
            Edip Hakan Başer
        </a>
    </div>
</div>
