<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Document</title>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet" />
<link rel="shortcut icon"
      type="image/png"
      href="~/Areas/Admin/Content/images/favicon.png" />
<link href="~/Areas/Admin/Content/css/admin.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/css/adminaside.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/css/adminfooter.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/css/adminlogin.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/css/adminnavbar.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/css/adminpages.css" rel="stylesheet" />