/* BACKTOTOP START */
.move-button {
    z-index: 12345678;
    position: fixed;
    bottom: 50px;
    right: 50px;
    opacity: 0;
    transition: opacity 1s ease;
    height: 4vw;
    width: 4vw;
    font-size: 3vw;
    border-radius: 50%;
    background-color: transparent;
    filter: invert(16%) sepia(62%) saturate(6157%) hue-rotate(348deg) brightness(70%) contrast(93%);
}

    .move-button.show-top {
        opacity: 1;
    }

    .move-button:hover {
        /* Start the shake animation and make the animation last for 0.5 seconds */
        animation: shake 0.5s;
        /* When the animation is finished, start again */
        animation-iteration-count: infinite;
    }

@keyframes shake {
    0% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    10% {
        transform: translate(1px, -4px) rotate(-1deg);
    }

    20% {
        transform: translate(1px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(1px, 4px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -2px) rotate(1deg);
    }

    50% {
        transform: translate(1px, 4px) rotate(-1deg);
    }

    60% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    70% {
        transform: translate(1px, 2px) rotate(-1deg);
    }

    80% {
        transform: translate(1px, -2px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 4px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -4px) rotate(-1deg);
    }
}


/* BACKTOTOP END */
