
/* CALENDAR START */
.r-box {
    margin-top: 11vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 50px;
    width: calc(100% - 50px);
    position: relative;
}

.calendar {
    position: sticky;
    top: 22vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    height: auto;
}

    .calendar .ui-widget {
    }

    .calendar .ui-widget-content {
        background-color: #ae1622;
    }

    .calendar .ui-datepicker-prev span {
    }

    .calendar .ui-datepicker-next span {
    }

#datepicker .ui-datepicker-calendar a {
    color: red; /* Günlere ait yazı rengini kırmızı olarak ayarlar */
}

#datepicker .ui-datepicker-calendar .ui-state-active {
    color: black; /* Seçilen günlerin yazı rengini siyah olarak ayarlar */
}

.ui-datepicker {
    width: 390px !important; /* Takvimin genişliği */
    height: 225px !important; /* Takvimin yüksekliği */
}

.choice-box {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#datepicker-input {
    font-size: 25px;
    width: 200px;
    text-align: end;
    border: none;
    border-bottom: 1px solid black;
    text-align: justify-all;
}

    #datepicker-input:focus {
        outline-offset: 0px;
        outline: none;
        border-bottom: 1px solid black;
    }

#date-text {
    font-size: 25px;
}

.vertical-box {
    margin-top: 5%;
    width: 400px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#service-type-listbox {
    width: 300px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid black;
    outline-offset: 0px;
    outline: none;
    text-align: end;
    font-weight: bold;
}

.reservation-list {
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    width: calc(100% - 450px);
    display: flex;
    flex-direction: column;
}

.calendar-cards {
    height: 500px;
    width: calc(100% - 100px);
    margin-bottom: 15px;
    display: flex;
    border: 5px solid #ae1622;
}

.worker-img {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 400px;
    border-right: 5px solid #ae1622;
}

.reservation-info {
    width: calc(100% - 300px);
}

    .reservation-info h2 {
        display: flex;
        justify-content: center;
        border-bottom: 5px solid #ae1622;
        font-size: 50px;
    }

.timelinebox {
    display: flex;
    height: calc(500px - 60px);
}

.timeline-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(500px - 60px);
    width: 50%;
    justify-content: center;
    align-items: center;
}

.timeline-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: calc(500px - 60px);
    justify-content: center;
    align-items: center;
}

.p-box {
    padding-top: 25px;
    text-align: center;
}

.fieldset {
    display: flex;
    justify-content: center;
}

#field1 div, #field2 div {
    margin-bottom: 5px;
}

    #field1 div label, #field2 div  label {        
        font-size: 18px;
    }

#field1, #field2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    align-content: space-around;
    border: none;
}
/* CALENDAR END */
